onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=ffmpeg-static
onlyBuiltDependencies[]=@ffmpeg-installer/darwin-arm64
onlyBuiltDependencies[]=esbuild
shamefully-hoist=true
